<mat-toolbar color="primary">
  <ng-container *ngIf="isAdmin === 'admin' || isAdmin === 'docente'">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>
  <span><a routerLink="/">Mis Tareas</a></span>
  <span class="spacer"></span>
  <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login">Login</a>
  <a *ngIf="isAdmin === 'admin' || isAdmin === 'docente'" mat-button routerLink="/admin">Admin</a>
</mat-toolbar>

<ng-template #viewLogout>
  <a *ngIf="isLogged" mat-button (click)="onLogout()">Logout</a>
</ng-template>
